{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about.jpg')}}) ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About us</h1>
                    <span class="subheading">This is what we offer.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Our online book shop is a destination for book lovers from all over the world. With a vast selection of
                books across genres and a user-friendly platform, we aim to make finding and buying books an enjoyable
                experience. Our mission is to bring books to people, no matter where they are, and help them connect
                with the stories and authors they love. We believe that books have the power to shape the world and
                inspire individuals, and we are dedicated to promoting reading and literary culture. Whether you're
                looking for the latest bestseller, an old classic, or a niche book that you can't find anywhere else,
                we've got you covered. Join us on our mission to make books accessible to everyone.</p>
            <p>At our online book shop, we understand the importance of finding the right book for you. That's why we
                offer a wide variety of genres and formats, including hardcover, paperback, and e-books. Our team of
                experts is constantly on the lookout for the latest and greatest titles, so you can be sure that our
                collection is always up-to-date and relevant. Our customer service is top-notch, and we're always here
                to answer any questions you may have and help you find the perfect book. We also offer free shipping on
                all orders and hassle-free returns, so you can shop with confidence.</p>
            <p>In addition to our love for books, we're also passionate about giving back to the community. That's why a
                portion of our profits goes towards supporting literacy programs and promoting reading initiatives. By
                shopping with us, you're not just buying books, you're helping to make a difference in the world.
                So, whether you're a lifelong bookworm or just starting to explore the world of literature, we invite
                you to join us on our journey. Browse our collection, connect with other book lovers, and discover the
                power of books today.</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}