{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/cart.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Your cart</h1>
                    <span class="subheading">Check one more time</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% if not num_of_products==0: %}
<section style="display: flex">


    <section style="float: left;overflow:hidden ;margin:30px;" class="left">
        <div style="margin:auto" class="container">


            {% for item in cart %}
            <br>
            <div class="row">
                <div style="display: flex margin:auto; " class="col-lg-8 col-md-10 mx-auto">

                    <div style="width: 25%; float:left  ">
                        <img src="{{item.url}}" width="70%" height=175px></div>

                    <div style="width: 50%; float:right" class="post-preview">
                        <h2 style="font-size: 80%;" class="post-title">
                            Book name: {{item.name}}
                        </h2>
                        <h3 style="font-size: 80%;" class="post-subtitle">
                            Author name: {{item.author}}
                        </h3>
                        <p style="font-size: 80%;" class="post-meta">Description: {{item.description}}</p>
                    </div>

                    <div style="width: 20%; float:left  ">
                        <p style="font-size: 80%;" class="post-meta"><em><strong>Price: {{item.price}} Eur</strong></em>
                        </p>
                    </div>

                </div>
            </div>
            <hr>
            {% endfor %}

        </div>
    </section>


    <section style="float: right ; margin-right:30px " class="right">
        <div style="border: 5px solid none;border-radius:15px;background-color:#e8f4f8;" class="check-out-box">

            <h5 style="text-align:center;padding:1em "><em>Summary</em></h5>

            <ul style="padding:2em">
                <li style="display:flex;padding:3%">
                    <p style="margin-right:210px">Books({{num_of_products}})</p>
                    <p >{{total_sum}} Eur</p>

                </li>
                <hr>

                <li style="display:flex;padding:3%">
                    <p style="margin-right:120px">Price of shipping:</p>
                    <p > Free </p>

                </li>
                <hr>

                <li style="display:flex;padding:3%">
                    <button name='pdf_button' style="color: black" type="button" class="btn btn-outline-light">
                        <a href=" {{url_for('invoice_pdf',shop_cart=cart)}}">Download invoice pdf</a>
                    </button>
                    <button style="color: black" type="button" class="btn btn-outline-light">
                        <a href="{{url_for('finish_order')}}" >Finish order</a>
                    </button>

                </li>
                <hr>


            </ul>
        </div>
    </section>



</section>
{%else:%}

    <h1 style="color:grey;text-align:center;"><em>At the moment, your cart is empty.</em> </h1>

    {%endif%}

{% include "footer.html" %}
{% endblock %}