{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/register.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Welcome back !</h1>
                    <span class="subheading">Log in and look after your favorite novels.</span>
                </div>

            </div>
        </div>
    </div>

</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Want to search for your fav books ? Register using the form below!</p>
            {{ wtf.quick_form(form, button_map={"submit": "primary"}, novalidate=False) }}


        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}