{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/catalogue.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h2>It is always nice to look after a book.</h2>
                    <span class="subheading">Take your time.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <br>
    <div class="row"  style="display: inline-block;">
        <div>
            {% if not item == None: %}
            <div style="width: 40%; float:right; margin:10px;display: block;">
                <img src="{{item.url}}" width="50%" height="50% "></div>


            <div style="width: 50%; float:left; margin:10px " class="post-preview">
                <h2 style="font-size: 25px;margin-bottom:10px" class="post-title">
                    Book name: {{item.name}}
                </h2>
                <h3 style="font-size: 20px;;margin-bottom:10px" class="post-subtitle">
                    Author name: {{item.author}}
                </h3>

                {%if not item.quantity==0:%}
                <p style="font-size: 15px;margin-bottom:10px" class="post-meta">Quantity available:
                    <a href="#">{{item.quantity}}</a>
                    on date {{date}}</p>
                {%else:%}
                <p style="font-size: 15px;margin-bottom:10px" class="post-meta">Book out of stock. We will restock soon.</p>
                {%endif%}

                <p style="font-size: 15px;margin-bottom:10px" class="post-meta">Price: {{item.price}} Eur</p>
                <p style="font-size: 15px;margin-bottom:10px" class="post-meta">Rating: {{item.rating}}/5</p>
                <p style="font-size: 15px;margin-bottom:10px" class="post-meta">Description: {{item.description}}</p>

                {%if current_user.is_authenticated:%}
                <button class="btn btn-sm btn-warning" style="margin:0.5%; border-radius:10px">
                    <a href="{{url_for('delete_book',id=item.id)}}">Delete book</a></button>

                <button class="btn btn-sm btn-warning" style="margin:0.5%; border-radius:10px">
                    <a href="{{url_for('edit',id=item.id)}}">Edit book</a></button>

                {%if not item.quantity==0:%}
                <button class="btn btn-sm btn-warning" style="margin:0.5%; border-radius:10px">
                    <a href="{{url_for('add_to_cart',id=item.id)}}" >Add to cart</a>
                </button>
                {%endif%}

                {% endif %}
            </div>

            {%else:%}
            <h1 style="color:grey;text-align:center;"><em>At the moment, the book you are looking for is not in stock.</em> </h1>
            {%endif%}

        </div>

    </div>
    <hr>
        {% include "footer.html" %}
        {% endblock %}